<h2>FT001 - Extracción ingresos y pasivos </h2>
<p> En este apartado se trata la base de datos FT001 </p>

In [6]:
#Cargamos los paquetes que vamos a necesitar
import pandas as pd
import numpy as np
import pyreadstat
pd.pandas.set_option('display.max_columns', None)

In [7]:
# Se carga el FT005 completo desde el archivo .dta
FT001_2020_2021 = pd.read_stata('C:/Users/Miguel Angel/Documents/Supersalud/Pagos_EPS_Proveedores/Informe_Pagos/FT001 20202021.dta')

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\stata.py:1433: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  warnings.warn(msg, UnicodeWarning)

In [9]:
FT001_2020_2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 294150 entries, 0 to 294149
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Nit             294150 non-null  object
 1   RazonSocial     294150 non-null  object
 2   Año             294150 non-null  object
 3   Periodo         294150 non-null  int32
 4   codigoConcepto  294150 non-null  float64
 5   claseConcepto   294150 non-null  int8
 6   valor           294150 non-null  float64
dtypes: float64(2), int32(1), int8(1), object(3)
memory usage: 14.9+ MB

In [8]:
# Se carga el FT004 para diciembre de 2019 desde el archivo .dta
FT001_2019 = pd.read_stata('C:/Users/Miguel Angel/Documents/Supersalud/Pagos_EPS_Proveedores/Informe_Pagos/FT001 122019.dta')

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\stata.py:1433: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  warnings.warn(msg, UnicodeWarning)

In [ ]:
# Se concatenan la bases de datos 
frames = [FT001_2020_2021, FT001_2019]
FT001 = pd.concat(frames, ignore_index=True)

In [ ]:
# Se eliminan la bases que no se necesitan para liberar espacio en la memoria
del [FT001_2020_2021, FT001_2019, frames]

In [ ]:
# Se reemplazan los nombres de las columnas para facilitar el tratamiento
FT001.rename(columns={'Nit': 'nit_eps', 'Año': 'ano', 'Periodo': 'mes', 'codigoConcepto': 'codigo','claseConcepto': 'clase'}, inplace=True)

In [ ]:
# Para hacer la suma de Valor por NIT EPS, Código del concepto, Mes y Año
FT001 = FT001.groupby(['nit_eps', 'codigo', 'ano', 'mes']).agg({'valor': 'sum'}).reset_index()

In [ ]:
#Se transforman las variables a STR para mejorar su manipulación
FT001[['codigo']] = FT001[['codigo']].astype(float).astype(int).astype(str)

In [ ]:
# # Se genera una nueva columna extrayendo el primer caracter del Código concepto
# FT001['d1'] = FT001['codigo'].str[:1]
# FT001['d2'] = FT001['codigo'].str[:2]
# FT001['d4'] = FT001['codigo'].str[:4]
# FT001['d6'] = FT001['codigo'].str[:6]
# FT001['d8'] = FT001['codigo'].str[:8]
# FT001['d10'] = FT001['codigo'].str[:10]

In [ ]:
# # Se seleccionan las observaciones que cumplen las condiciones
# FT001 = FT001[
#     (FT001['d6'] == '110101') |
#     (FT001['d6'] == '110102') |
#     (FT001['d6'] == '110103') |
#     (FT001['d6'] == '110109') |
#     (FT001['d6'] == '410201') |
#     (FT001['d6'] == '410202') |
#     (FT001['d6'] == '410203') |
#     (FT001['d6'] == '410207') |
#     (FT001['d6'] == '410208') |
#     (FT001['d6'] == '410209') |
#     (FT001['d6'] == '410227') |
#     (FT001['d6'] == '410230') |
#     (FT001['d4'] == '1105') | # OJO CON ESTA LÍNEA PUES ES DIFERENTE
#     (FT001['d6'] == '431101') |
#     (FT001['d6'] == '431102') |
#     (FT001['d6'] == '431103') |
#     (FT001['d6'] == '431104') |
#     (FT001['d6'] == '431106') |
#     (FT001['d6'] == '431107') |
#     (FT001['d6'] == '431120') |
#     (FT001['d6'] == '431122') 
#     ]

In [ ]:
# Se genera una nueva columna con la cuenta del numero de componentes que tiene el ID nitproveedor
FT001['Lcod'] = FT001.codigo.str.len()

In [ ]:
# # Se seleccionan las observaciones que cumplen las condiciones
# df_filtered = FT001[
#     (FT001['Lcod'] == 8) 
#     ].index

In [ ]:
# # Se eliminan las observaciones que cumplen las condiciones anteriores
# FT001 = FT001.drop(df_filtered)

In [ ]:
# # Se seleccionan las observaciones que cumplen las condiciones
# df_filtered = FT001[
#     (FT001['Lcod'] == 6) &
#     (FT001['d4'] == '1105') 
#     ].index

In [ ]:
# # Se eliminan las observaciones que cumplen las condiciones anteriores
# FT001 = FT001.drop(df_filtered)

In [ ]:
# Se limpia la clasificación por Tipo de deudor
FT001['tipo']= 'NA' # Se crea la columna con categoria UPC como base

# Se establecen las condiciones para establecer correctamente el UPC

FT001.loc[(FT001['codigo'] == "410201") |
       (FT001['codigo'] == "410202") |
       (FT001['codigo'] == "410203") |
       (FT001['codigo'] == "410207") |
       (FT001['codigo'] == "431101") |
       (FT001['codigo'] == "431102") |
       (FT001['codigo'] == "431106") |
       (FT001['codigo'] == "431122") |
       (FT001['codigo'] == "431120"),  
       'tipo'] = 'UPC' 

FT001.loc[(FT001['codigo'] == '431103') | # | Regimen contributivo
       (FT001['codigo'] == "431104") | #Regimen contributivo
       (FT001['codigo'] == "431107") | #Regimen ubsidiado publico
       (FT001['codigo'] == "41020801") | #410208-41020801
       (FT001['codigo'] == "410209"),  
       'tipo'] = 'CMCOP' 

FT001.loc[(FT001['codigo'] == '410227'),  
       'tipo'] = 'PMAX' 

FT001.loc[(FT001['codigo'] == '410230'),  
       'tipo'] = 'EnfH'

FT001.loc[(FT001['codigo'] == '1105') |
       (FT001['codigo'] == "110101") |
       (FT001['codigo'] == "110102") |
       (FT001['codigo'] == "110103") |
       (FT001['codigo'] == "110109"),  
       'tipo'] = 'Efectivo'

In [ ]:
# Para hacer la suma de Valor por NIT EPS, tipo, Mes y Año
FT001 = FT001.groupby(['nit_eps', 'tipo', 'mes', 'ano']).agg({'valor': 'sum'}).reset_index()

In [ ]:
# Se crea el rango de meses necesarios en cada mes
fecha_ideal=range(1, 12 + 1)
# Se rellena con ceros la información para los meses faltantes
FT001 = FT001.set_index('mes').groupby(['nit_eps', 'tipo', 'ano']).apply(lambda x: x.reindex(index=fecha_ideal, fill_value=0)).drop(['nit_eps', 'tipo', 'ano'], 1)

In [ ]:
# Se desagrupa la información
FT001 = FT001.reset_index()

In [ ]:
#Se transforman las variables a INT para mejorar su manipulación
FT001[['ano']] = FT001[['ano']].astype(float).astype(int)

In [ ]:
# Se encuentran las observaciones que cumplen las condiciones
df_filtered = FT001[
    (FT001['ano'] == 2019) & (FT001['mes'] == 1) |
    (FT001['ano'] == 2019) & (FT001['mes'] == 2) |
    (FT001['ano'] == 2019) & (FT001['mes'] == 3) |
    (FT001['ano'] == 2019) & (FT001['mes'] == 4) |
    (FT001['ano'] == 2019) & (FT001['mes'] == 5) |
    (FT001['ano'] == 2019) & (FT001['mes'] == 6) |
    (FT001['ano'] == 2019) & (FT001['mes'] == 7) |
    (FT001['ano'] == 2019) & (FT001['mes'] == 8) |
    (FT001['ano'] == 2019) & (FT001['mes'] == 9) |
    (FT001['ano'] == 2019) & (FT001['mes'] == 10) |
    (FT001['ano'] == 2019) & (FT001['mes'] == 11)
    ].index

In [ ]:
# Se eliminan las observaciones que cumplen las condiciones anteriore
FT001 = FT001.drop(df_filtered)

In [ ]:
FT001 = FT001.set_index(['nit_eps', 'tipo', 'mes', 'ano'])

In [ ]:
# Se calcula la diferencia mensual para conocer el valor mensual de cada cuenta ya que por defecto vienen agregadas
FT001_dif = FT001.diff().fillna(0)

In [ ]:
# Se desagrupa la informacion
FT001_dif = FT001_dif.reset_index()
FT001 = FT001.reset_index()

In [ ]:
# Se reemplazan los valores para los meses de enero
FT001_dif.loc[FT001_dif['mes'] == 1] = FT001

In [ ]:
# Se reemplazan los nombres de las columnas para facilitar el tratamiento
FT001_dif.rename(columns={'valor': 'Dvalormes'}, inplace=True)

In [ ]:
# Se encuentran las observaciones que cumplen las condiciones
df_filtered = FT001_dif[
    (FT001_dif['ano'] == 2019)
    ].index

In [ ]:
# Se eliminan las observaciones que cumplen las condiciones anteriore
FT001_dif = FT001_dif.drop(df_filtered)

In [ ]:
# Para convertir el tipo como columna
FT001_dif = FT001_dif.pivot(index=['nit_eps', 'mes', 'ano'], columns='tipo', values='Dvalormes').fillna(0).reset_index()

In [ ]:
# Para convertir el tipo como colum
FT001 = FT001.pivot(index=['nit_eps', 'mes', 'ano'], columns='tipo', values='valor').fillna(0).reset_index()

In [ ]:
# Se eliminan las columnas que no son de interés
FT001 = FT001.drop(['CMCOP', 'EnfH', 'NA', 'PMAX', 'UPC'], axis=1)

In [ ]:
# Se reemplazan los nombres de las columnas para facilitar el tratamiento
FT001.rename(columns={'Efectivo': 'valorEfectivo'}, inplace=True)

In [ ]:
# Se unen las dos bases de datos para obtener la información en conjunto de la diferencia y el valor de Efectivo
FT001_dif = pd.merge(FT001_dif, FT001, how='left', left_on=['nit_eps', 'ano', 'mes'], right_on=['nit_eps', 'ano', 'mes'])

In [ ]:
# Se reemplazan los nombres de las columnas para facilitar el tratamiento
FT001_dif.rename(columns={'Efectivo': 'DEfectivo', 'CMCOP': 'DCMCOPmes', 'PMAX': 'DPMAXmes', 'UPC': 'DUPCmes'}, inplace=True)

In [ ]:
# Para guardar la base de datos lista para ser tratada en formato Excel y CSV
FT001_dif.to_excel(r'C:/Users/Miguel Angel/Documents/Supersalud/Pagos_EPS_Proveedores/ingresosyefectivo_2020_2021.xlsx', index = False)
FT001_dif.to_csv(r'C:/Users/Miguel Angel/Documents/Supersalud/Pagos_EPS_Proveedores/ingresosyefectivo_2020_2021.csv', index = False, encoding='utf-8-sig')

In [ ]:
# Se eliminan la bases que no se necesitan para liberar espacio en la memoria
del [FT001_dif, FT001, df_filtered, fecha_ideal]